<div class="center hero-unit background-image hero-title">
	<h1 class="hero-title">NGS App: The Genomics Community</h1>
	<h2>Rails to Personalized Genomics</h2>
	<hr>
	<%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %> 
</div>
<div class="center row">
	<div class="span4">
		<h2>Sequencers</h2>
		<p>Sequencing....Several methodologies. Find where there are resources about the technology you are interested in.</p>
		<p><a class="btn btn-small" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Computing Resources</h2>
		<p>Sequence analysis is computationally demanding. High-performance computing power is needed to perform sequence analysis. Location of computing resources can easily obtained here.</p>
		<p><a class="btn btn-small" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Community</h2>
		<p>Sequencing ad analysis is diverse in part due to . Connect with investigator with similar interests and goals and share your experiences. Join our community today.</p>
		<p><a class="btn btn-small" href="#">View details &raquo;</a></p>
	</div>
</div>