<div class="center hero-unit hero-unit-lrg background-image">
	<h1 class="hero-title">NGS App</h1>
	<!-- <h2 class="hero-title">Personalize your DNA</h2> -->
</div>
<div class="center">
	<%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
</div>
<!-- <div class="center row">
	<div class="span4">
		<h2>Sequencers</h2>
		<p>DNA sequencing technology is developing dynamically. In response the market provides different sequencers. Find out where sequecing resources that fit your interest are located.</p>
		<hr>
		<p><a class="btn btn-small" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Computing Resources</h2>
		<p>Sequence analysis is computationally demanding and requires high-performance computing resources. We help you to locate computing resources in your geographical area.</p>
		<hr>
		<p><a class="btn btn-small" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Community</h2>
		<p>To turn DNA sequencing and analysis into personalized medicine and societal benifits a community of researchers, medical professionals, and patients work together and share experiences. Join our community today!</p>
		<hr>
		<p><a class="btn btn-small" href="#">View details &raquo;</a></p>
	</div>
</div> -->